//- Cloud service showcase: Aliyun + Tencent Cloud (and more in the future)
//- Wrapped in a flex row so sliders sit side-by-side on desktop
section.cloud-banners-section(data-lang-code=langCode)
  .container
    .cloud-banners
      include ./aliyun-cloud
      include ./tencent-cloud
      include ./vultr-cloud
