section.star-history
  .container
    .section-header
      h2 #{lang.lang.starHistoryTitle}
    .star-rank
      a(href='https://www.star-history.com/electerm/electerm', rel='noreferrer', target='_blank', title='Star History Rank')
        img(alt='Star History Rank', src='https://api.star-history.com/badge?repo=electerm/electerm', loading='lazy')
    a(href='https://www.star-history.com/?repos=electerm%2Felecterm&type=date&legend=top-left', rel='noreferrer', target='_blank', title='Star History Chart')
      img(alt='Star History Chart', src='https://api.star-history.com/chart?repos=electerm/electerm&type=date&legend=top-left&sealed_token=3tHEhah6WQDjS3d2NO5oEQ4ZMOAayNatUBT907G2uXAHlqS6iWwL1XUkmVW9O2LJQGHXsH0v2xzvu73X-m8o6Ss2hh93e8LAxim-BmuLxPZ5VeThO_E7pw', loading='lazy')
      span.sr-only View electerm star history on star-history.com
